<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".vstemplate" #>
<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<!--DSL Tools Language Template-->
<VSTemplate Version="3.0.0" Type="Item" xmlns="http://schemas.microsoft.com/developer/vstemplate/2005" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<TemplateData>
		<TemplateID>{daff1944-a3c5-45ce-9e18-745422599aab}</TemplateID>
		<Name Package="{<#= this.Dsl.PackageGuid #>}" ID="103"/>
		<Description Package="{<#= this.Dsl.PackageGuid #>}" ID="102"/>
		<Icon Package="{<#= this.Dsl.PackageGuid #>}" ID="201" />
		<ProjectType>VisualBasic</ProjectType>
		<SortOrder>360</SortOrder>
		<DefaultName><#=  this.Dsl.Name #>.<#=this.Dsl.Editor.FileExtension#></DefaultName>
	</TemplateData>
	<TemplateContent>
		<ProjectItem TargetFileName="$fileinputname$.<#=this.Dsl.Editor.FileExtension#>"><#=this.Dsl.Editor.FileExtension#>.<#=this.Dsl.Editor.FileExtension#></ProjectItem>
		<ProjectItem TargetFileName="$fileinputname$.<#=this.Dsl.Editor.FileExtension#>.diagram"><#=this.Dsl.Editor.FileExtension#>.diagram</ProjectItem>
	</TemplateContent>
</VSTemplate>

